<div id="<%= dom_id book_club %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= book_club.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book_club.description %>
  </div>
</div>
