<header class="container mx-auto flex justify-between py-8">
  <a href="<%= root_path %>">
    <div class="logo-wordmark flex items-center">
      <div class="logo mr-1 w-7">
        <svg width="100%" height="100%" viewBox="0 0 5544 7809" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g transform="matrix(1,0,0,1,-9944.593513,-275.333947)"><g transform="matrix(0.349932,0,0,0.349932,9557.558363,1475.169082)"><g transform="matrix(7.411068,0,0,11.938904,-62863.670306,-12048.51379)"><path d="M8773.231,2109.513C8773.152,2109.464 8773.073,2109.415 8772.994,2109.366L8777.181,2106.767C8783.743,2102.252 8790.526,2097.818 8797.531,2093.469L9198.284,1844.702C9198.463,1844.813 9198.641,1844.924 9198.82,1845.035L9322.644,1768.171C9071.729,1666.576 8905.742,1490.79 8905.742,1291.127L8905.742,721.988C9072.692,721.988 9229.28,749.747 9364.171,798.229C9582.028,876.53 9743.29,1008.886 9800.205,1165.653C9864.465,1117.665 9961.339,1087.09 10069.626,1087.09C10245.554,1087.09 10391.358,1167.791 10416.126,1272.759L10718.131,1272.759C10746.337,1272.759 10769.237,1286.974 10769.237,1304.482C10769.237,1321.991 10746.337,1336.206 10718.131,1336.206L10416.126,1336.206C10401.571,1397.888 10345.222,1451.191 10265.524,1484.663C10406.8,1691.85 10341.5,1940.6 10069.626,2109.366C9856.735,2241.518 9564.839,2295.043 9287.949,2269.941C9263.799,2295.784 9233.911,2320.121 9198.284,2342.237L8797.531,2591.004C8724.558,2545.706 8675.66,2491.086 8650.838,2433.296C8603.289,2322.591 8644.086,2200.251 8773.231,2109.513ZM10222.321,1272.771C10194.121,1272.771 10171.226,1286.983 10171.226,1304.488C10171.226,1321.994 10194.121,1336.206 10222.321,1336.206C10250.521,1336.206 10273.417,1321.994 10273.417,1304.488C10273.417,1286.983 10250.521,1272.771 10222.321,1272.771Z" style="fill:rgb(26,26,26);"/></g></g></g></svg>
      </div>
      <span class="font-bold text-4xl">Colibri</span>
    </div>
  </a>
  <nav class="flex items-center">
    <% if authenticated? %>
      <%= button_to "Logout", session_path, method: :delete if authenticated? %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
    <% end %>
  </nav>
</header>
